# Python
*.pyc
__pycache__/
*.pyo
*.pyd

legal_venv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Virtual Environment
venv/
env/
.env

# IDEs
.vscode/
.idea/

# OS generated
.DS_Store
Thumbs.db

# Render specific
staticfiles/